// *****************************************************************************
// File: partials/_base.scss


::selection {
  background: rgba($dark, .99);
  color: $light;
}

html {
  background-color: $light;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'4\' viewBox=\'0 0 4 4\'%3E%3Cpath fill=\'%23fac31e\' fill-opacity=\'1\' d=\'M1 3h1v1H1V3zm2-2h1v1H3V1z\'%3E%3C/path%3E%3C/svg%3E');
  font-size: 18px;
}

.sr {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $dark;
  font-family: monospace;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}
