// *****************************************************************************
// File: partials/_base.scss


::selection {
  background: rgba($dark, .99);
  color: $light;
}

html {
  font-size: 18px;
}

.sr {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $light;
  color: $dark;
  font-family: monospace;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}
