// *****************************************************************************
// File: partials/_reset.scss

* {
  &,
  &::before,
  &::after {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

.cf {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
